/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/

$white: #FFFFFF;
$grey-15: #E5E5E5;
$grey-30: #BFBFBF;
$grey-45: #999999;
$grey-60: #737373;
$grey-75: #4D4D4D;
$grey: #0D0D0D;
$black: #000000;

$blue: #0084FF;