.ess.headling-1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.headling-2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.headling-3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.headling-4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.headling-5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.headling-6 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif
}

.ess.subtitle-2 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif
}

.ess.body-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif
}

.ess.body-2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif;
}

.ess.button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

.ess.caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif;
}

.ess.overline {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}