button.ess,
submit.ess,
input[type=reset].ess,
input[type=button].ess,
input[type=submit].ess {
  margin: 0;
  width: auto;
  height: auto;
  border: none;
  font: inherit;
  outline: none;
  line-height: 0;
  color: inherit;
  padding: 0 20px;
  min-width: 64px;
  cursor: pointer;
  font-size: 14px;
  min-height: 36px;
  overflow: visible;
  user-select: none;
  line-height: normal;
  background: inherit;
  vertical-align: baseline;
  font-weight: $button-font-weight;
  transition: all 300ms ease-in-out;
}

button.ess:disabled,
submit.ess:disabled,
input[type=reset].ess:disabled,
input[type=button].ess:disabled,
input[type=submit].ess:disabled {
  opacity: .6;
  cursor: not-allowed;
}

@each $shape, $value in $button-shape {

  button.ess.#{$shape},
  submit.ess.#{$shape},
  input[type=reset].ess.#{$shape},
  input[type=button].ess.#{$shape},
  input[type=submit].ess.#{$shape} {
    border-radius: map-get($value, 'corner');
  }
}

@each $color, $value in $colors {

  button.ess.filled.#{$color},
  submit.ess.filled.#{$color},
  input[type=reset].ess.filled.#{$color},
  input[type=button].ess.filled.#{$color},
  input[type=submit].ess.filled.#{$color} {
    color: map-get($value, 'font');
    background: map-get($value, 'base');
  }
  
  button.ess.filled.#{$color}:hover,
  submit.ess.filled.#{$color}:hover,
  input[type=reset].ess.filled.#{$color}:hover,
  input[type=button].ess.filled.#{$color}:hover,
  input[type=submit].ess.filled.#{$color}:hover {
    background: darken(map-get($value, 'base'), 5%);
  }

  button.ess.cleaned.#{$color},
  submit.ess.cleaned.#{$color},
  input[type=reset].ess.cleaned.#{$color},
  input[type=button].ess.cleaned.#{$color},
  input[type=submit].ess.cleaned.#{$color} {
    background: transparent;
    color: map-get($value, 'base');
  }
  
  button.ess.cleaned.#{$color}:hover,
  submit.ess.cleaned.#{$color}:hover,
  input[type=reset].ess.cleaned.#{$color}:hover,
  input[type=button].ess.cleaned.#{$color}:hover,
  input[type=submit].ess.cleaned.#{$color}:hover {
    color: map-get($value, 'base');
    background: rgba(map-get($value, 'base'), 0.1);
  }
}
