.ess.card {
  display: flex;
  flex-wrap: wrap;
  color: font-dark(60);
  background: #FFFFFF;
}

.ess.card.dark {
  color: font-light(40);
  background: #262626;
}

.ess.card.shadow {
  box-shadow: 0px 0px 16px rgba(200, 207, 219, 0.75);
}

.ess.card.dark.shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.ess.card .header {
  width: 100%;
  padding: 20px 40px;
}

.ess.card .footer {
  width: 100%;
  padding: 20px 40px;
}