button.ess.float-button,
submit.ess.float-button,
input[type=reset].ess.float-button,
input[type=button].ess.float-button,
input[type=submit].ess.float-button {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  font: inherit;
  outline: none;
  color: inherit;
  padding: 0 8px;
  font-size: 20px;
  cursor: pointer;
  min-width: 36px;
  min-height: 36px;
  overflow: visible;
  user-select: none;
  line-height: normal;
  background: inherit;
  vertical-align: baseline;
  transition: all 300ms ease-in-out;
  font-weight: $float-button-font-weight;
}

button.ess.float-button:disabled,
submit.ess.float-button:disabled,
input[type=reset].ess.float-button:disabled,
input[type=button].ess.float-button:disabled,
input[type=submit].ess.float-button:disabled {
  opacity: .4;
  cursor: not-allowed;
}

@each $shape, $value in $float-button-shape {

  button.ess.float-button.#{$shape},
  submit.ess.float-button.#{$shape},
  input[type=reset].ess.float-button.#{$shape},
  input[type=button].ess.float-button.#{$shape},
  input[type=submit].ess.float-button.#{$shape} {
    border-radius: map-get($value, 'corner');
  }
}

@each $color, $value in $colors {

  button.ess.float-button.filled.#{$color},
  submit.ess.float-button.filled.#{$color},
  input[type=reset].ess.float-button.filled.#{$color},
  input[type=button].ess.float-button.filled.#{$color},
  input[type=submit].ess.float-button.filled.#{$color} {
    color: map-get($value, 'font');
    background: map-get($value, 'base');
  }
  
  button.ess.float-button.filled.#{$color}:hover,
  submit.ess.float-button.filled.#{$color}:hover,
  input[type=reset].ess.float-button.filled.#{$color}:hover,
  input[type=button].ess.float-button.filled.#{$color}:hover,
  input[type=submit].ess.float-button.filled.#{$color}:hover {
    background: darken(map-get($value, 'base'), 5%);
  }

  button.ess.float-button.cleaned.#{$color},
  submit.ess.float-button.cleaned.#{$color},
  input[type=reset].ess.float-button.cleaned.#{$color},
  input[type=button].ess.float-button.cleaned.#{$color},
  input[type=submit].ess.float-button.cleaned.#{$color} {
    background: transparent;
    color: map-get($value, 'base');
  }
  
  button.ess.float-button.cleaned.#{$color}:hover,
  submit.ess.float-button.cleaned.#{$color}:hover,
  input[type=reset].ess.float-button.cleaned.#{$color}:hover,
  input[type=button].ess.float-button.cleaned.#{$color}:hover,
  input[type=submit].ess.float-button.cleaned.#{$color}:hover {
    color: map-get($value, 'base');
    background: rgba(map-get($value, 'base'), 0.1);
  }
}