$gutter-sm: 16px;
$gutter-md: 20px;
$gutter-lg: 26px;

$light-background-color: #FFFFFF;
$light-background-color-2: #FFFFFF;
$light-separator-color: rgba(0, 0, 0, 0.1);
$light-highlight-color: rgba(0, 0, 0, 0.05);

$dark-background-color: #262626;
$dark-background-color-2: #000000;
$dark-separator-color: rgba(0, 0, 0, 0.5);
$dark-highlight-color: rgba(0, 0, 0, 0.4);

$light-font-color: rgba(0, 0, 0, 0.4);
$dark-font-color: rgba(255, 255, 255, 0.4);

$font-size: 14px;
$font-weight: 400px;

// LISTS

.ess.list {
  width: 100%;
  display: flex;
  height: 100%;;
}

.ess.list{
  flex-direction: column;
}

.ess.list.horizontal {
  flex-direction: row;
}

// LIST

.ess.list {
  font-size: $font-size;
  color: $light-font-color;
  font-weight: $font-weight;
  // background: $light-background-color;
}

.ess.list h1,
.ess.list h2,
.ess.list h3,
.ess.list h4,
.ess.list h5,
.ess.list h6 {
  color: rgba(0, 0, 0, 1);
}

.ess.list.dark {
  color: $dark-font-color;
  // background: $dark-background-color;
}

.ess.list.dark h1,
.ess.list.dark h2,
.ess.list.dark h3,
.ess.list.dark h4,
.ess.list.dark h5,
.ess.list.dark h6 {
  color: rgba(255, 255, 255, 0.6);
}

// ITEM

.ess.list .item {
  width: 100%;
  display: flex;
  cursor: pointer;
  user-select: none;
  padding: $gutter-md 0;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.ess.list .item.gutter-small {
  padding: $gutter-sm 0;
}

.ess.list .item.gutter-big {
  padding: $gutter-lg 0;
}

.ess.list .item.separator {
  border-bottom: 1px solid $light-separator-color;
}

.ess.list.dark .item.separator {
  border-bottom: 1px solid $dark-separator-color;
}

.ess.list .item.highlight:hover {
  background: $light-highlight-color;
}

.ess.list.dark .item.highlight:hover {
  background: $dark-highlight-color;
}

// TILE

.ess.list .item .tile {
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.ess.list .item .tile.auto {
  width: auto;
}

.ess.list .item .tile.wrap {
  flex-wrap: wrap;
}

.ess.list .item .tile.gutter-small {
  padding: 0 $gutter-sm;
}

.ess.list .item .tile.gutter-medium {
  padding: 0 $gutter-md;
}

.ess.list .item .tile.gutter-big {
  padding: 0 $gutter-lg;
}

.ess.list .item .tile.limit-height {
  max-height: 100px;
}

.ess.list .item .tile.align-content-start {
  justify-content: flex-start;
}

.ess.list .item .tile.align-content-center {
  justify-content: center;
}

.ess.list .item .tile.align-content-end {
  justify-content: flex-end;
}

.ess.list .item .tile.left-separator {
  border-left: 1px solid $light-separator-color;
}

.ess.list .item .tile.right-separator {
  border-right: 1px solid $light-separator-color;
}

.ess.list.dark .item .tile.left-separator,
.ess.list.dark .item .tile.right-separator {
  border-color: $dark-separator-color;
}