.ess.separator {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  position: relative;
}

.ess.separator.vertical {
  width: 1px;
  height: 100%;
}

.ess.separator.dark {
  background: var(--grey-75);
}

.ess.separator.light {
  background: var(--grey-15);
}
