.ess.tabs {
  width: 100%;
  height: 60px;
}

.ess.tabs > ul {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  list-style: none;
}

.ess.tabs > ul > li {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
  user-select: none;
  line-height: 20px;
  font-style: normal;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.ess.tabs > .ess.indicator {
  left: 0;
  width: 0;
  bottom: 0;
  height: 4px;
  position: absolute;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  transition: all 300ms ease-in-out;
}
