/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/

$colors: (
  red: #FF4343,
  orange: #FF8C00,
  sunflower: #FFB900,
  emerald: #2ECC71, 
  turquoise: #1ABC9C,
  dark-cyan: #00B7C3,
  blue: #0084FF, 
  blue-sea:#0063B1,
  amethys:#8764B8,
  purple: #C239B3,
  pink: #FA3B87,
);

/*
|--------------------------------------------------------------------------
| FUNCTIONS
|--------------------------------------------------------------------------
*/

@function color($name) {
  @return map-get($colors, $name)
};

/*
|--------------------------------------------------------------------------
| SCSS
|--------------------------------------------------------------------------
*/

@each $name, $hex in $colors {
  
  .ess.font-#{"" + $name} {
    color: color($name);
  }

  .ess.bg-#{"" + $name} {
    color: #FFFFFF !important;
    background: color($name) !important;
  }
}