/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/

$grid-columns: 12 !default;
$grid-col-gutter: 20px !default;
$grid-row-gutter: 20px !default;
$grid-container-outer-padding: 40px !default;

/*
|--------------------------------------------------------------------------
| GRID CONTENT
|--------------------------------------------------------------------------
*/

.ess.container {
  padding: $grid-container-outer-padding;
}

.ess.container.fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-container-outer-padding;
  padding-left: $grid-container-outer-padding;
}

/*
|--------------------------------------------------------------------------
| GRID ROW
|--------------------------------------------------------------------------
*/

.ess.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $grid-row-gutter; 
}

.ess.row.nowrap {
  flex-wrap: nowrap;
}

.ess.row.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.ess.row.direction-reverse {
  flex-direction: row-reverse;
}

.ess.row.direction-column {
  flex-direction: column;
}

.ess.row.direction-column-reverse {
  flex-direction: column-reverse;
}

.ess.row.justify-start {
  justify-content: flex-start;
}

.ess.row.justify-center {
  justify-content: center;
}

.ess.row.justify-end {
  justify-content: flex-end;
}

.ess.row.align-top {
  align-items: flex-start;
}

.ess.row.align-middle {
  align-items: center;
}

.ess.row.align-bottom {
  align-items: flex-end;
}

/*
|--------------------------------------------------------------------------
| COLUMN LARGE
|--------------------------------------------------------------------------
*/

.ess.col {
  // padding: 0 $grid-col-gutter; 
  padding: 0 $grid-col-gutter / 2;
  box-sizing: border-box;
}

.ess.col.show { 
  display: flex; 
}

.ess.col.hide { 
  display: none; 
}

@for $column from 1 through $grid-columns {
  .col.lg-#{$column} {
    width: 100% / $grid-columns * $column;
  }
}

/*
|--------------------------------------------------------------------------
| COLUMN MEDIUM
|--------------------------------------------------------------------------
*/

@media (max-width: 1024px) {

  .ess.col.md-show { 
    display: flex; 
  }
  
  .ess.col.md-hide { 
    display: none; 
  }

  @for $column from 1 through $grid-columns {
    .col.md-#{$column} {
      width: 100% / $grid-columns * $column;
    }
  }
  
}

/*
|--------------------------------------------------------------------------
| COLUMN SMALL
|--------------------------------------------------------------------------
*/

@media (max-width: 600px) {

  .ess.col.sm-show { 
    display: flex; 
  }
  
  .ess.col.sm-hide { 
    display: none; 
  }

  @for $column from 1 through $grid-columns {
    .col.sm-#{$column} {
      width: 100% / $grid-columns * $column;
    }
  }

}