$dark-shadow-color: rgba(0, 0, 0, 0.2);
$light-shadow-color: rgba(200, 207, 219, 0.6); // rgba(200, 207, 219, 0.75)

.ess.shadow-dark {
  box-shadow: 0px 0px 16px $dark-shadow-color;
}

.ess.shadow-light {
  box-shadow: 0px 0px 16px $light-shadow-color;
}