@use "sass:map";

/*
|--------------------------------------------------------------------------
| COLORS
|--------------------------------------------------------------------------
*/

$pallet: ();

$colors: (
  "primary": ( "base": #0084FF, "font": #FFFFFF ),
  "accent": ( "base": #00E5BB, "font": #000000 ),
  "success": ( "base": #00E5BB, "font": #000000 ),
  "warn": ( "base": #EF8122, "font": #000000 ),
  "error": ( "base": #FF302F, "font": #FFFFFF ),
  "info": ( "base": #4663E5, "font": #FFFFFF ),
);

/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/


$weights: (
  "light": 300,
  "regular": 400,
  "semi-bold": 600,
  "bold": 700,
);

$shapes: (
  "rounded": 8px,
  "circle": 999px,
  "pill": 999px,
);

$sizes: (
  "small": 32px,
  "medium": 40px,
  "big": 52px,
);

$font-sizes: (
  "small": 14px,
  "medium": 16px,
  "big": 20px,
);

/*
|--------------------------------------------------------------------------
| AVATAR
|--------------------------------------------------------------------------
*/

$button-font-weight: 600;

$button-size: (
  "mini": ( "min-width": 28px, "min-height": 28px, "font-size": 12px ),
  "small": ( "min-width": 28px, "min-height": 28px, "font-size": 12px ),
  "medium": ( "min-width": 36px, "min-height": 36px, "font-size": 14px ),
  "big": ( "min-width": 64px, "min-height": 44px, "font-size": 16px ),
);

$button-shape: (
  "rounded": ( "corner": 6px ),
  "pill": ( "corner": 9999px ),
);

/*
|--------------------------------------------------------------------------
| BUTTONS
|--------------------------------------------------------------------------
*/

$button-font-weight: 400;

$button-shape: (
  "rounded": ( "corner": 6px ),
  "pill": ( "corner": 9999px ),
);

/*
|--------------------------------------------------------------------------
| FLOAT BUTTONS
|--------------------------------------------------------------------------
*/

$float-button-font-weight: 400;

$float-button-shape: (
  "rounded": ( "corner": 6px ),
  "circle": ( "corner": 9999px ),
);

/*
|--------------------------------------------------------------------------
| BADGES
|--------------------------------------------------------------------------
*/

$badge-font-weight: 600;

$badge-shape: (
  "rounded": ( "corner": 4px ),
  "pill": ( "corner": 9999px ),
);

/*
|--------------------------------------------------------------------------
| FUNCTIONS
|--------------------------------------------------------------------------
*/

@function get-color($name) {
  @return map-get($colors, $name)
};